  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Hirono Figurines</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Join our online events this 2024!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink = "/about">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://i.ebayimg.com/images/g/gCgAAOSwHWJknA1F/s-l1200.webp" alt="..." /></div>
        </div>
    </div>
  </header>
  <section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Join our Research Conferences around the Globe!</h2>
                    <p class="lead fw-normal text-muted mb-5">Here are what you can find on this page.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://www.popmart.nz/cdn/shop/products/2_4b526b97-8118-4c8f-942a-e333ed2d7540_1200x1200.jpg?v=1661157527" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">About</div>
                        <a class="text-decoration-none link-dark stretched-link" href="/about"><h5 class="card-title mb-3">About the Page</h5></a>
                        <p class="card-text mb-0">This page is all about connecting one link to another link, and showing how data binding works.</p>
                        <hr>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink = "/about">Get Started</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://kouhightoys.com/cdn/shop/files/5_ZVFFZu7ckA_1200x1200_77de7884-86dd-4191-85b9-562f7e88d4f4.jpg?v=1690316196&width=1445" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Our Partner</div>
                        <a class="text-decoration-none link-dark stretched-link" href="/partner"><h5 class="card-title mb-3">Partnership</h5></a>
                        <p class="card-text mb-0"> For more credibility, here are some of the company we are partnered with. </p>
                        <hr>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink = "/partner">Get Started</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://kouhightoys.com/cdn/shop/files/8_zoeDfP14I6_1200x1200_f9fa30f1-c444-4441-8676-720f024aad70.jpg?v=1690316194&width=1445" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Join Us</div>
                        <a class="text-decoration-none link-dark stretched-link" href="/join"><h5 class="card-title mb-3">Join our team!</h5></a>
                        <p class="card-text mb-0"> As we move forward to a greater innovation, let us be part of that development! Contact us.</p>
                        <hr>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/join">Get Started</a>
                      </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
    </div>
  </section>