<h1 style = "background-color:#1b8787; color:white; text-align:center"> Angular Material Components Demo </h1>

<mat-tab-group mat-stretch-tabs = "false" mat-align-tabs = "center" fitInkBarToContent>
  <!-- Raised Buttons -->
  <mat-tab label = "Raised Buttons"> 
    <section>
      <div class="example-label"> Raised Buttons</div>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  </mat-tab>

  <!-- Basic Buttons -->
  <mat-tab label = "Basic Buttons"> 
    <section>
      <div class="example-label">Basic</div>
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
  </mat-tab>

   <!-- Radio Buttons -->
   <mat-tab label = "Radio Buttons">
    <p> What is your mood today? </p>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Happy</mat-radio-button>
      <mat-radio-button value="2">Sad</mat-radio-button>
      <mat-radio-button value="2">Not Sure</mat-radio-button>
    </mat-radio-group>
  </mat-tab>

  <!-- Input Settings -->
  <mat-tab label = "Input Settings" >
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. Share anything you want"></textarea>
      </mat-form-field>
    </form>
  </mat-tab>

  <!-- Toggle Button and Slider-->
  <mat-tab label = "Toggle and Slider">
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    <br> <hr> <br>
    <p style = "color:red"> How happy are you right now? </p>
    <mat-slider>
      <input matSliderThumb>
    </mat-slider>
  </mat-tab>

</mat-tab-group>
